<!DOCTYPE html>
<html>
<head>
    <title>Auctions Online</title>
</head>
<body>
    <li class="nav-item">
        <a class="nav-link" href="/website/auctions_dashboard/">My auctions</a>
     </li>
    <li class="nav-item">
        <a class="nav-link" href="/website/watchlist/">Liked items</a>
    </li>
    <li class="nav-item open-modal">
        <a class="nav-link" href="/website/balance/">Balance : €{{ balance }}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/website/logout/">Logout</a>
    </li>
    {% for product in user_products %}
            <p>{{ product.title }}</p>
            {% endfor %}

</body>
</html>
