<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Auctions Panel</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container">
      <h1 class="text-center mt-5">My Auctions Panel</h1>
      <hr />
      <div class="row">
        <div class="col">
          <h2>
            <a href="/website/product_panel/" class="text-dark">Create Product</a>
          </h2>
        </div>
        <div class="col">
          <h2>
            <a href="/website/auction_panel/" class="text-dark">Create Auction</a>
          </h2>
        </div>
        <div class="col">
          <h2>
            <a href="/website/my_auctions/" class="text-dark">All Auctions</a>
          </h2>
        </div>
        <div class="col">
          <h2>
            <a href="/website/" class="text-dark">Main page</a>
          </h2>
        </div>
      </div>
      <hr />
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
