
.footer-distributed .footer-center i{
	color: #CCBD7A;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 38px;
	height: 38px;
	cursor: pointer;
	border-radius: 2px;

	font-size: 20px;
	color: #CCBD7A;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}



.footer-distributed {
    background-color: #8B6849 !important;
    border-radius: 30% 30% 0 0;
    padding: 40px 60px 20px 60px !important;
    margin-top: 40px !important;
    display: flex;
    flex-direction: row;
}
.footer-distributed .footer-left .footer-company-name{
    color: #CCBD7A;
    margin: 10px 0 0 10px;
	font-size: 14px;
}
.footer-distributed .footer-left{
    margin-top: 20px;
    width: 100%;
}
.footer-distributed .footer-center {
    width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.footer-distributed .footer-center a{
    color: white;
	text-decoration: none;
	transition: 0.3s;
}
.footer-distributed .footer-center div{
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer-distributed .footer-center a:hover{
    color: #CCBD7A;
}
.footer-distributed .footer-right {
    width: 100%; display: flex;
	justify-content: center;
	flex-direction: column;
}
.footer-distributed .footer-right .footer-company-about {
 margin-bottom: 0;
	color: white;
	font-size: 16px;
	text-align: center;
}
.footer-distributed .footer-right .footer-icons {
	margin-top: 10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.footer-distributed .footer-left .footer-link{
    color: white;
    font-size: 16px;
	margin: 25px 10px !important;
	text-decoration: none;
}
.footer-distributed .footer-left .footer-links{
	margin: 10px 0 15px 0 !important;
}
@media(max-width: 1023px) {
    .footer-distributed {
        flex-direction: column !important;
		border-radius: 15% 15% 0 0;
    }

	.footer-distributed .footer-left {
			    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	}
	.footer-distributed .footer-left  #footer-left{
		margin: 0 !important;
	}
	.footer-distributed .footer-center {
		margin: 50px 0;
	}
	.footer-distributed{
		    padding: 40px 20px 20px 20px !important;
	}
	.footer-distributed .footer-left #footer-left a{
    	margin: 0 !important;
		width: 100%;
	}
		.footer-distributed .footer-left #footer-left a img{
    	margin: 0 !important;
		width: 100%;
	}

}




